* {
  margin: 0 auto;
  background-image: url('../img/main-bg.jpg');
  background-color: none;
}


.top-head {
  color: #fff;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.link:hover {
  color: green;
  font-size: 15px;
}

.main-head {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px auto;
}

.middle-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  width: 70%;
}

.main-body, .about-head {
  background-color: black;
}

.header-txt {
  background: none;
  color: #fff;
}

.card-txt {
  color: #fff;
}

.test2 {
  background-color: gray;
  border-radius: 7%;
}

.projects-card {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  opacity: 1.2;
  padding: 10px;
  /* border: 3px solid black; */
}

.sports-logo, .park-logo, .weather-logo {
  width: 80%;
  height: 80%;
  border-radius: 5%;
}

p, h2, h4 {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .projects-card {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 10px auto;
  }

  .link {
    margin: 3px auto;
  }
}

@media screen and (max-width: 560px) {
  .middle-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .profile-pic {
    margin: 25px auto;
  }
}